<!--Student name: Jianchang (Robin) YU
    student number: 160210191
    student email: jyu205@myseneca.ca
    assignment: assignment 1 for web322
    date: 14 Feb. 2021-->

<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8" />
        <title>WEB322 movies and TV Store</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/css/bootstrap.min.css" rel="stylesheet">
        <link href="/css/style.css" rel="stylesheet">
 
    </head>
    
    <body>
        <section id="_404_page">
            <section id="_404_container">
                <img class="imgIn404" src="/images/movies/space_2001.jpg" alt="..">
                <h1>The page you want is out of range.</h1>
                <p>       
                    <a class="linkIn404"  href="/">Click here to redirect to our homepage</a>
                </p>
            </section>
        </section>
    </body>
    
</html>
    